

:root {
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-black: #000000;
  --basic-black-brown: #333333;
  --basic-brown: #766357;
  --basic-dark-brown: #666666;
  --basic-gray: #EEEEEE;
  --basic-dark-grey: #F2F2F2;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url(../img/);
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  /*min-width: 100%;
  height: auto;*/
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1 fr min-content;
  align-content: start;
}

.main-header {
  margin-bottom: 70px;
  outline-offset: -5px;
}

.main-navigation {
  display: fiex;
  flex-direction: column;
  align-items: center;
  color: var(--basic-black);
  background-color: transparent;
}

.main-header-logo {
  display: block;
  order: 2;
  width: 138px;
  height: 70px;
  outline-offset: -5px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  min-height: 70px;
  list-style: none;
  outline-offset: -5px;
  list-style: none;
}

.site-navigation-current a:not([href])

.site-navigation a,{
  color: var(--basic-black);
  display: block;
  padding: 25px 20px;
}

.site-navigation a:hover,
.site-navigation a:focus,

.title {
  width: 1200px;
  height: 509px;
}

.visually-hidden {
  display: none;
}

.title-img {
  background-color: var(--basic-blue);
  background-image: url(../img/1.jpg);
  background: url(../img/1.jpg);
}

.primary-title {
  font-size: 21px;
}

.title-caption {
  width: 470px;
  margin-left: 365px;
  color: #000;
}

.title-text {
  text-align: center;
  padding-top: 100px;
}

.description {
  display: flex
}

.description-town{
  width: 400px;
  height: 256px;
}

.description-title{
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.description-number{
  line-height: 21px;
  text-align: center;
}

.description-text{
  line-height: 21px;
  text-align: center;
}

.description-img{
  width: 800px;
  height: 256px;
}

.recommendations {
  margin-bottom: 80px;
}

.recommendations-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommendations-item {
  text-align: center;
  outline-offset: -5px;
}

.recommendations-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.recommendations-item p {
  margin: 0 10px;
}

.description {
  display: flex
}

.description-img{
  width: 800px;
  height: 256px;
}

.description-bridge{
  width: 400px;
  height: 256px;
}

.description-title{
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.description-number{
  line-height: 21px;
  text-align: center;
}

.description-text{
  line-height: 21px;
  text-align: center;
}

.features{
  margin-bottom: 80px;
}

.features-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
}

.features-item {
  text-align: center;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.features-item p {
  margin: 0 10px;
}

.form {
  width: 300px; 
}

.appointment{

}

.appointment-title {
  font-size: 30;
  line-height: 24px;
  text-align: center;
  background: var(--basic-brown);
}

.appointment-info {
  line-height: 21px;
  text-align: center;
}

.appointment-form {

}

.appointment-item input {
  font: inherit;
  background-color: #F2F2F2;
}

.appointment-item button {
  background-color: #A9A9A9;
  height: 20px;
  width: 20px;
  border: none;
  margin-left: -30px;
}

.main-footer {
  padding: 60px 0;
  margin-top: 65px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .conteiner {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.footer-contacts {
  margin: 0;
  width: 320px;
}

.footer-contacts p {
  margin: 0;
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-social {
  width: 145px;
  jystify-self:center;
  text-align: center;
}

.footer-social ul {
  width: 141px;
  margin: 0 auto;
  list-style: none;
}

.footer-social h2 {
  font-size: 21px;
}

.social-button {
  color: inherit;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-black);
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-white);
  background-color: var(--basic-black);
}






.filter-item {
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls{
  position: relative;
  width: 317px;
  height: 36px;
  margin-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  border-radius: 2px;
}

.range-controls scale {
  height: 2px;
  background: #FFFFFF;
}

.range-controls bar {
height: 2px;
background: #FFFFFF;
}

.range-controls toggle {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #FFFFFF;
  background: #ABABAB;
  box-shadow: #ABABAB;
  cursor: pointer;
}

.range-controls toggle-min {
  left: 18px;
}

.range-controls toggle-min {
  left: 160px;
}

.price-controls label{
  font-size: 14px;
  line-height: 21px;
}

.price-controls input {
  
}